{% extends 'base.html.twig' %}

{% block title %}Jury Dashboard{% endblock %}

{% block body %}
<div class="dashboard">
    <h2>Jury Dashboard</h2>
    <p>Welcome to the jury panel, {{ user_name }}!</p>
    <div class="stats">
        <p>Evaluate and rate submissions.</p>
    </div>
</div>
{% endblock %}