{% extends 'base.html.twig' %}

{% block title %}Artiste Dashboard{% endblock %}

{% block body %}
<div class="dashboard">
    <h2>Artiste Dashboard</h2>
    <p>Welcome to your artist space, {{ user_name }}!</p>
    <div class="stats">
        <p>Manage your artworks and profile.</p>
    </div>
</div>
{% endblock %}