{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
<div class="dashboard">
    <h2>Admin Dashboard</h2>
    <p>Welcome to the administrator area, {{ user_name }}!</p>
    <div class="stats">
        <p>You have full access to manage the system.</p>
    </div>
</div>
{% endblock %}