{% extends 'base.html.twig' %}

{% block title %}New Offre{% endblock %}

{% block body %}
    <article class="mx-auto my-4" style="max-width:640px;">
        <div class="bg-white rounded shadow-sm p-4">
            <header class="mb-3 text-center">
                <h2 style="font-family: Georgia, 'Times New Roman', serif;">Create new Offre</h2>
            </header>

            {{ include('offre/_form.html.twig') }}

            <div class="mt-3 text-center">
                <a class="btn btn-link" href="{{ path('app_offre_index') }}">Back to list</a>
            </div>
        </div>
    </article>
{% endblock %}
